

    <mat-sidenav-container color="warn">
     
        <mat-sidenav #sidenav mode="side" opened role="navigation">
            <mat-nav-list>
              <mat-list-item ><mat-icon>dashboard</mat-icon></mat-list-item>
              <mat-list-item ><mat-icon>search</mat-icon></mat-list-item>
              <mat-list-item ><mat-icon>perm_identity</mat-icon></mat-list-item>
              <mat-list-item ><mat-icon>work</mat-icon></mat-list-item>
              <mat-list-item ><mat-icon>calendar_today</mat-icon></mat-list-item>
              <mat-list-item ><mat-icon>chat_bubble</mat-icon></mat-list-item>
                <mat-list-item ><mat-icon>settings</mat-icon></mat-list-item>
              </mat-nav-list>          
          </mat-sidenav>

        <mat-sidenav-content class="container">
          <app-select-language></app-select-language>
          <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>
