
<mat-toolbar>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    <span>Contract Portal</span>
    <span class="example-fill-remaining-space"></span>
    <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    <button mat-button [matMenuTriggerFor]="menu">  <mat-icon>perm_identity</mat-icon>{{'form.userName'| translate}}</button>
<mat-menu #menu="matMenu">
  
  <a mat-menu-item>{{'dashboard.userPref'|translate}}</a>
  <a   mat-menu-item>{{'dashboard.accountSettings'|translate}}</a>
  <a mat-menu-item [routerLink]="['/login']" >{{'dashboard.logOut'| translate}}</a>
</mat-menu>
  </mat-toolbar>

    <mat-sidenav-container color="warn">
     
        <mat-sidenav #sidenav mode="side" opened role="navigation">
            <mat-nav-list>
              <mat-list-item ><mat-icon>dashboard</mat-icon></mat-list-item>
              <mat-list-item ><mat-icon>search</mat-icon></mat-list-item>
              <mat-list-item ><mat-icon>perm_identity</mat-icon></mat-list-item>
              <mat-list-item ><mat-icon>work</mat-icon></mat-list-item>
              <mat-list-item ><mat-icon>calendar_today</mat-icon></mat-list-item>
              <mat-list-item ><mat-icon>chat_bubble</mat-icon></mat-list-item>
                <mat-list-item ><mat-icon>settings</mat-icon></mat-list-item>
              </mat-nav-list>          
          </mat-sidenav>

        <mat-sidenav-content class="container">
          <app-select-language></app-select-language>
          <router-outlet></router-outlet>
          <!-- <app-tile-view></app-tile-view> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
