<mat-grid-list [cols]="6" rowHeight="1:1">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
         something3
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
         something2
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card class="dashboard-card">
         something1
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
           something4
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
