<mat-grid-list [cols]="6" rowHeight="1:1">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
         {{'form.id_1' |translate}}
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
         {{'form.id_1' |translate}}
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card class="dashboard-card">
         {{'form.id_1' |translate}}
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
         {{'form.id_1' |translate}}
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
